* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navhead {
    background-color: #001e1d;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content: space-between;

    h2 {

        color: rgb(222, 218, 218);
        margin: 10px 20px;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        font-size: 18px;
        text-decoration: none;
        margin: 10px;
        padding: 10px;
        color: rgb(222, 218, 218);
        outline: none;
    }

    select {
        font-size: 15px;
        text-decoration: none;
        background: none;
        border: none;
        margin: 10px;
        padding: 8px;
        color: rgb(222, 218, 218);
        outline: none;
    }

    button {
        font-size: 17px;
        border: 1.5px solid black;
        border-radius: 10px;
        background: none;
        margin: 10px 20px;
        padding: 10px;
        cursor: pointer;
    }

    button:hover {
        transform: scale(1.03);
        transition: 0.5s;
        background-color: rgb(220, 239, 182);

    }

    #cart {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
}

.icons {
    gap: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contener {

    display: flex;
    gap: 25px;


}

body {
    background-color: #abd1c6;
}

.sec-title {
    color: #f9bc60;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
}

h4 {
    position: absolute;
    bottom: 100px;
    right: 10px;
    color: #fffffe;
}

.price {
    position: absolute;
    bottom: 36px;
    right: 190px;
    color: #abd1c6;
    font-size: 25px;
}

.card {
    border-radius: 30px;
    position: relative;
    width: 250px;
    height: 350px;
    background-color: #004643;
}

.card-btn {
    position: absolute;
    bottom: 15px;
    right: 54px;
    border-radius: 10px;
    background-color: #f9bc60;
    color: #FFFFFF;
    width: 140px;
    height: 30px;
    border: none;
}

.card-btn:hover {
    background-color: rgb(55, 80, 37);
    cursor: pointer;
}

.card-img {
    position: absolute;
    border-radius: 12%;

}

.card-p {
    color: #abd1c6;
    position: absolute;
    bottom: 90px;
    right: 160px;
}

#musicBtn {
    padding: 12px 25px;
    border: 2px solid #abd1c6;
    border-radius: 30px;
    background-color: #19735a transparent;
    color: #4c7372;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#musicBtn:hover {

    background-color: #132e26;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 15px #3d7f4e;
}

.scrol {
    width: 100%;
    overflow: auto;
    display: flex;
    margin: 3em auto;
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --scrol;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
}

.scrol::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: .5em;
}


.scrol::-webkit-scrollbar {
    display: none;

}

.scrol::scroll-button(right),
.scrol::scroll-button(left) {
    content: '⇥';
    border: none;
    background-color: #abd1c6;
    font-family: consolas;
    font-size: 1rem;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --scrol;
    position-area: right center;
    translate: -50%;
}

.scrol::scroll-button(left) {
    content: '⇤';
    position-area: left center;
    translate: 50%;
}

.scrol::scroll-button(right):disabled,
.scrol::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;

}

.scrol2 {
    width: 100%;
    overflow: auto;
    display: flex;
    margin: 3em auto;
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --scrol2;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
}

.scrol2::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: .5em;
}


.scrol2::-webkit-scrollbar {
    display: none;

}

.scrol2::scroll-button(right),
.scrol2::scroll-button(left) {
    content: '⇥';
    border: none;
    background-color: #abd1c6;
    font-family: consolas;
    font-size: 1rem;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --scrol2;
    position-area: right center;
    translate: -50%;
}

.scrol2::scroll-button(left) {
    content: '⇤';
    position-area: left center;
    translate: 50%;
}

.scrol2::scroll-button(right):disabled,
.scrol2::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;

}



.scrol3 {
    width: 100%;
    overflow: auto;
    display: flex;
    margin: 3em auto;
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --scrol3;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
}

.scrol3::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: .5em;
}


.scrol3::-webkit-scrollbar {
    display: none;

}

.scrol3::scroll-button(right),
.scrol3::scroll-button(left) {
    content: '⇥';
    border: none;
    background-color: #abd1c6;
    font-family: consolas;
    font-size: 1rem;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --scrol3;
    position-area: right center;
    translate: -50%;
}

.scrol3::scroll-button(left) {
    content: '⇤';
    position-area: left center;
    translate: 50%;
}

.scrol3::scroll-button(right):disabled,
.scrol3::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;

}

.scrol4 {
    width: 100%;
    overflow: auto;
    display: flex;
    margin: 3em auto;
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --scrol4;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
}

.scrol4::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: .5em;
}


.scrol4::-webkit-scrollbar {
    display: none;

}

.scrol4::scroll-button(right),
.scrol4::scroll-button(left) {
    content: '⇥';
    border: none;
    background-color: #abd1c6;
    font-family: consolas;
    font-size: 1rem;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --scrol4;
    position-area: right center;
    translate: -50%;
}

.scrol4::scroll-button(left) {
    content: '⇤';
    position-area: left center;
    translate: 50%;
}

.scrol4::scroll-button(right):disabled,
.scrol4::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;

}

.scrol5 {
    width: 100%;
    overflow: auto;
    display: flex;
    margin: 3em auto;
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --scrol5;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
}

.scrol5::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: .5em;
}


.scrol5::-webkit-scrollbar {
    display: none;

}

.scrol5::scroll-button(right),
.scrol5::scroll-button(left) {
    content: '⇥';
    border: none;
    background-color: #abd1c6;
    font-family: consolas;
    font-size: 1rem;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --scrol6;
    position-area: right center;
    translate: -50%;
}

.scrol5::scroll-button(left) {
    content: '⇤';
    position-area: left center;
    translate: 50%;
}

.scrol5::scroll-button(right):disabled,
.scrol5::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;

}



@media(max-width) {
    .contener {
        flex: 0 0 100%;
    }
}